
<% content_for :title, "Posts" %>


<section class='container text-center py-5'>
  <h1>Writings</h1>
</section>

<section id="posts" class='container w-md'>
  <%= render 'shared/search' %>
  <br>
  <%= render 'public/posts/list', posts: @posts %>
</section>
