
<% content_for :title, Setting.site_name %>

<section class='container w-md py-5 text-center'>
  <h1>Oh no!</h1>
  <p class='lead'>No websites have been configured for this domain, yet.</p>
</section>
