
<% content_for :title, "Morgan Lopes" %>

<section class='container w-md py-5 text-center'>
  <h1>Writings from Morgan Lopes</h1>
  <p class='lead'>Software engineer and seasoned entrepreneur.</p>
</section>

<div id="posts" class='container w-md'>
  <h2 class=''>Recent Posts</h2>
  
  <%= render 'public/posts/list', posts: @posts %>

  <%= link_to 'View All', posts_path, class: 'btn btn-outline-secondary' %>
</div>
