trix-toolbar {
  position: sticky;
  top: 0px;
  background: white;
}

pre,
.trix-content pre {
  margin: 12px 0px;
  border-radius: 5px;
  padding: 1em;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 0.9em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}

.field {
  margin-bottom: 1rem;
}

td {
  vertical-align: middle;
}

.w-md {
  max-width: 800px;
}

.min-h-vh-50 {
  min-height: 50vh;
}

.min-h-vh-75 {
  min-height: 75vh;
}

.btn-outline-form {
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-border-color);
}

.btn-outline-form:hover {
  border-color: #666;
  background-color: #666;
  color: white;
}
