<% if notice.present? %>
  <div class='bg bg-success container py-3'>
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class='bg bg-success container py-3'>
    <%= alert %>
  </div>
<% end %>
