<% if notice.present? %>
  <div class='bg bg-success py-3'>
    <div class='container'>
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert.present? %>
  <div class='bg bg-success py-3'>
    <div class='container'>
      <%= alert %>
    </div>
  </div>
<% end %>
