<!-- Main layout for the application -->
<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body id='public'>
    <%= render 'layouts/alerts' %>
    
    <div id='main'>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
